<input type="text" id="lookup_{{ name }}" value="{{ label }}" style="display:none;" />
<a href="{{ related_url }}{{ url }}" class="related-lookup" id="lookup_id_{{ name }}" onclick="return showRelatedObjectLookupPopup(this);"></a>
<script type="text/javascript">
(function($) {
  // Show lookup input
  $('#lookup_{{ name }}').show();
  function reset() {
    $('#id_{{ name }}, #lookup_{{ name }}').val('');
  };
  function lookup(query) {
    $.get('{{ search_path }}', {
      'search_fields': '{{ search_fields }}',
      'app_label': '{{ app_label }}',
      'model_name': '{{ model_name }}',
      'object_pk': query
    }, function(data) {
      $('#lookup_{{ name }}').val(data);
      {{ slug }}_value = query;
      var template = $('#change_id_{{ name }}').attr("data-href-template");
      template = template.replace("__fk__", query);
      console.log("replaced " + template);
      $('#change_id_{{ name }}').attr("href", template);
    });
  };
  $('#id_{{ name }}').on('keyup', function(event) {
    if ($(this).val()) {
      if (event.keyCode == 27) {
        reset();
      } else {
        lookup($(this).val());
      };
    };
  });
  $('#lookup_{{ name }}').on('keyup', function(event) {
    if ($(this).val()) {
      if (event.keyCode == 27) {
        reset();
      }
    }
  });
  $('#lookup_{{ name }}').autocomplete('{{ search_path }}', {
    extraParams: {
      'search_fields': '{{ search_fields }}',
      'app_label': '{{ app_label }}',
      'model_name': '{{ model_name }}'
    },
    onItemSelect: function(item) {
      $('#id_{{ name }}').val(item.data[0]);
      console.log("data " + item.data);
    }
  });
  var {{ slug }}_value = $('#id_{{ name }}').val();
  function check() {
    {{ slug }}_check = $('#id_{{ name }}').val();
    if ({{ slug }}_check) {
      if ({{ slug }}_check != {{ slug }}_value) {
        lookup({{ slug }}_check);
      }
    }
  };
  timeout = window.setInterval(check, 300);
})((typeof window.jQuery == 'undefined' && typeof window.django != 'undefined')? django.jQuery : jQuery);
</script>
