{% load i18n webdesign media_tags %}{% load url from future %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="{% block meta-description %}{% endblock %}">
  <meta name="author" content="{% block meta-author %}{% endblock %}">
  <meta name="viewport" content="width=device-width">

  {% block css %}
  {% css 'css/all.css' %}
  {% block extra-css %}
  {% endblock %}
  {% css_ie 'css/ie.css' %}
  {% endblock %}

  <script src="{{ STATIC_URL }}js/modernizr-2.5.2.min.js"></script>
</head>

<body>{% block ie6 %}
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->{% endblock %}
    <header>
      {% block header %}
      {% endblock %}
    </header>
    <section id="main" class="main" role="main">
      {% block main %}
      {% endblock %}
    </section>

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </div> <!--! end of #container -->

  {% block js %}
  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"><\/script>')</script>
  {% endblock %}

  {% block javascript %}
  <script defer src="{{ STATIC_URL }}js/plugins.js"></script>
  <script defer src="{{ STATIC_URL }}js/script.js"></script>
  {% endblock %}
	
  {% comment %}
  {% block analytics %}
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endblock %}
  {% endcomment %}

  {% block extra-js %}
  {% endblock %}
  {% endblock %}
</body>
</html>
